{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .post_block {
            width: 80%;
            margin-left: 10%;
            padding: 10px;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
        .comments {
            margin-top: 10px;
        }
        .comment_block {
            border: 1px solid #242b2e;
            background: #cbcbcb;
            color: #242b2e;
            margin-bottom: 10px;
            padding: 10px;
        }
        .post_block img {
            width: 60%;
        }
    </style>
    <div class='post_block'>
        {% if post.image %}
            <img src="/media/{{ post.image }}/" alt="not found ">
        {% else %}
            <img src="/media/default-image.jpg" alt="">
        {% endif %}

        <div style="display: flex; justify-content: space-between">
            <h1>{{ post.title }}</h1>
            <h1>{{ post.author.username }}</h1>
        </div>
        <h5>{{ post.description }}</h5>
        {% for hashtag in hashtags %}
            <h6>{{ hashtag.title }}</h6>
        {% endfor %}
        <div class="dates">
            <h5>{{ post.created_date }}</h5>
            <h5>{{ post.modified_date }}</h5>
        </div>
        <form action="/posts/{{ post.id }}/" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit">
        </form>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment_block">
                    <h3>{{ comment.author.username }}</h3>
                    <h5>{{ comment.text }}</h5>
                    <p>{{ comment.created_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}