{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}

{% block content %}
    <div class='product_block'>
        {% if product.image %}
            <img src="/media/{{ product.image }}/" alt="not found ">
        {% else %}
            <img src="/media/default-image.jpg" alt="">
        {% endif %}

        <div style="display: flex; justify-content: space-between">
            <h1>{{ product.name }}</h1>
            <h1>{{ product.author.username }}</h1>
        </div>
        <h5>{{ product.description }}</h5>
        {% for category in categories %}
            <h6>{{ category.title }}</h6>
        {% endfor %}
        <div class="dates">
            <h5>{{ post.created_date }}</h5>
            <h5>{{ post.modified_date }}</h5>
        </div>
        <form action="/products/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ review_form.as_p }}
            <input type="submit">
        </form>
        <div class="reviews">
            {% for review in reviews %}
                <div class="review_block">
                    <h3>{{ review.author.username }}</h3>
                    <h5>{{ review.text }}</h5>
                    <p>{{ review.created_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
