.posts {
            width: 80%;
            margin-left: 10%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .card-body img {
            width: 80%;
        }